@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Story+Script&display=swap');

body, * {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

h1 {
    margin: 1rem;
    text-align: center;
    background-color: lightseagreen;
    color: white;
    padding: .5rem;
    border-radius: 10px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    flex-basis: 31%;
    margin: 1rem 0.4rem;
    padding: 1rem 0.4rem 2.5rem 0.4rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

.card__email {
    font-size: 1rem;
}

.form-wrapper {
    font-size: 18px;
    max-width: 768px;
    margin: 2rem auto;
    padding: 2rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

label, input {
    margin-top: 5px;
    display: block;
    font-size: inherit;
}

input[type="text"] {
    padding: .25rem;
}

input[type="submit"] {
    background-color: lightgrey;
    border: none;
    padding: .375rem 1rem;
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: white;
    background-color: lightseagreen;
    margin: 1rem;
    padding: .3rem 1rem;
    border-radius: 5px;
}
a:hover {
    background-color: teal;
}